src
stories
node_modules
.env
.env.local
.env.*.local
*.test.tsx
*.test.ts
*.stories.tsx
.storybook
storybook-static
.vite
coverage
.eslintignore
.prettierignore
tsconfig.json
vite.config.ts
vitest.config.ts
vitest.setup.ts
